#g-chart {
  overflow: hidden;
  position: relative;
}

#g-form {
  font: 16px sans-serif;
  text-align: center;
}

#g-form input {
  border-right: none;
  border-radius: 3px 0 0 3px;
  border: solid 1px #ccc;
  font: inherit;
  padding: 4px 8px;
  width: 223px;
}

#g-form button {
  background: #004276;
  border: none;
  border-radius: 0 3px 3px 0;
  color: #fff;
  font: inherit;
  font-weight: bold;
  padding: 5px 8px;
  position: relative;
  top: 1px;
  width: 30px;
}

.g-legend {
  color: #999;
  font: 11px/1.3em sans-serif;
  height: 30px;
  margin-top: 15px;
  position: relative;
  text-align: center;
}

.g-arrow {
  position: absolute;
  width: 100px;
}

.g-arrow:before {
  position: absolute;
  font-size: 15px;
  font-style: normal;
  top: 7px;
}

.g-democrat.g-arrow {
  left: 170px;
  padding-left: 40px;
}

.g-arrow.g-democrat:before {
  content: "←";
  right: 100px;
}

.g-republican.g-arrow {
  right: 170px;
  padding-right: 40px;
}

.g-arrow.g-republican:before {
  content: "→";
  left: 100px;
}

.g-legend .g-pointer {
  width: 150px;
}

.g-overview {
  position: absolute;
  left: 345px;
  text-align: center;
  width: 280px;
}

.g-legend .g-democrat.g-pointer {
  position: absolute;
  left: 314px;
  text-align: right;
  padding-right: 20px;
}

.g-swatch {
  width: 6px;
  height: 8px;
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0 3px;
}

.g-republican.g-swatch {
  /* background-color: #f9caca; */
  background-color: #c5d7ea;
  border-radius: 0 4px 4px 0;
}

.g-democrat.g-swatch {
  /* background-color: #c5d7ea; */
  background-color: #f9caca;
  border-radius: 4px 0 0 4px;
}

.g-republican.g-swatch {
  /* background-color: #f9caca; */
  background-color: #c5d7ea;
}

.g-notes {
  font: 11px/1.3em sans-serif;
  height: 100px;
  position: absolute;
  top: 430px;
}

.g-note {
  color: #999;
  position: absolute;
  width: 212px;
}

.g-note b {
  color: #333;
  text-transform: uppercase;
}

.g-note-arrow {
  fill: none;
  stroke: #aaa;
  stroke-dasharray: 2,2;
  stroke-width: 1.5px;
  -webkit-transition: stroke-opacity 250ms ease;
  -moz-transition: stroke-opacity 250ms ease;
  -ms-transition: stroke-opacity 250ms ease;
  -o-transition: stroke-opacity 250ms ease;
  transition: stroke-opacity 250ms ease;
}

.g-error {
  background: #ffa;
  border: solid 1px #ccc;
  font-size: 16px;
  line-height: 1.2em;
  margin: 10px;
  padding: 10px;
}

.g-node .g-democrat {
  /* fill: #c5d7ea; */
  fill: #f9caca;
}

.g-node.g-hover .g-democrat {
  /* darker(.5) */
  /* fill: #acbed1; */
  fill: #dfb1b1;
}

.g-node.g-selected .g-democrat {
  /* c *= 2, darker(.5) */
  /* fill: #99c0e5; */
  /* c *= 2, darker(2) */
  /* stroke: #6081a3; */
  /* ------------------ */
  /* c *= 2, darker(.5) */
  fill: #fda4a7;
  /* c *= 2, darker(2) */
  stroke: #af5e61;
  stroke-width: 1.5px;
}

.g-node .g-republican {
  /* fill: #f9caca; */
  fill: #c5d7ea;
}

.g-node.g-hover .g-republican {
  /* darker(.5) */
  /* fill: #dfb1b1; */
  fill: #acbed1; 
}

.g-node.g-selected .g-republican {
  /* c *= 2, darker(.5) */
  /* fill: #fda4a7; */
  /* c *= 2, darker(2) */
  /* stroke: #af5e61; */
  /* ------------------ */
  /* c *= 2, darker(.5) */
  fill: #99c0e5;
  /* c *= 2, darker(2) */
  stroke: #6081a3;
  stroke-width: 1.5px;
}

.g-node .g-split {
  stroke: #000;
  stroke-opacity: .18;
  shape-rendering: crispEdges;
}

a.g-label {
  color: inherit;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}

.g-label .g-value {
  font: 11px sans-serif;
  white-space: nowrap;
}

.g-overlay,
.g-node,
.g-label {
  -webkit-tap-highlight-color: transparent;
}

.g-overlay {
  fill: none;
  pointer-events: all;
}

.g-body {
  min-height: 700px;
}

.g-has-topic .g-isnt-topic,
.g-hasnt-topic .g-is-topic {
  display: none;
}

.g-body h3 {
  font-size: 18px;
  line-height: 1.4em;
  font-family: Georgia;
  font-weight: normal;
  margin-bottom: 0.9em;
}

.g-mentions {
  width: 445px;
}

.g-mentions h3 {
  text-align: center;
}

.g-mentions.g-democrat h3 {
  margin-left: 140px;
}

.g-mentions.g-republican h3 {
  margin-right: 140px;
}

.g-divider,
.g-mention,
.g-truncated {
  border-top: solid 1px #ccc;
}

.g-mentions.g-democrat {
  margin: 0 0 0 20px;
  float: left;
}

.g-mentions.g-republican {
  margin: 0 20px 0 0;
  float: right;
}

.g-head a {
  border-radius: 3px;
  padding: 3px 3px;
  white-space: nowrap;
}

.g-mention {
  clear: both;
  margin: -1px 0 1.5em 0;
}

.g-mention p {
  color: #444;
  font-family: Georgia;
  font-size: 1.3em;
  line-height: 1.40em;
}

.g-democrat .g-mention p {
  margin: 1.5em 0 1.5em 160px;
}

.g-republican .g-mention p {
  margin: 1.5em 140px 1.5em 20px;
}

.g-mention a {
  border-radius: 3px;
  padding: 1px 3px;
  text-decoration: none;
}

.g-democrat a {
  /*
  background-color: #c5d7ea;
  color: #4a5783;
  */
  background-color: #fbdedf;
  color: #734143;
}

.g-republican a {
  /*
  background-color: #fbdedf;
  color: #734143;
  */
  background-color: #c5d7ea;
  color: #4a5783;
}

.g-mention p:before,
.g-mention p:after {
  color: #ddd;
  font-family: sans-serif;
  font-size: 36px;
  position: absolute;
}

.g-mention p::before {
  content: "“";
  margin: 0.25em 0 0 -20px;
}

.g-mention p::after {
  content: "”";
  margin: 0.25em 0 0 0.1em;
}

.g-speaker {
  font: bold 13px sans-serif;
  margin: 1.5em 0 0.15em 0;
  text-transform: uppercase;
  width: 125px;
}

.g-speaker-title {
  clear: both;
  color: #aaa;
  font: 11px sans-serif;
  margin-bottom: 1em;
  width: 125px;
}

.g-democrat .g-speaker,
.g-democrat .g-speaker-title {
  float: left;
  text-align: left;
}

.g-republican .g-speaker,
.g-republican .g-speaker-title {
  float: right;
  text-align: right;
}

.g-truncated {
  border-top-style: dashed;
  color: #aaa;
  display: none;
  font: 11px sans-serif;
  padding-top: 1em;
  text-align: center;
}

/* Scoop Fixes */

.storySummary,
.storyHeader h1 {
  display: block;
  margin: 5px auto;
  padding: 0;
  text-align: center;
  width: 640px;
}

#interactiveFooter {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 12px;
}

#main .storyHeader h1 {
  font-size: 26px;
  margin: 25px auto 4px auto;
}
